AZURE_SUBSCRIPTION_ID=
AZURE_RESOURCE_GROUP=rg-realestate-dev
AZURE_LOCATION=westeurope
AZURE_STORAGE_ACCOUNT=
AZURE_DATA_FACTORY=
AZURE_SQL_SERVER=
AZURE_SQL_DATABASE=realestate
AZURE_KEY_VAULT=
AZURE_LOG_ANALYTICS_WORKSPACE=
